body {
	background-color: #EEEEEE;
}

.jumbotron {
	background-color: #212529;
	text-align: center;
	margin: 20px;
	padding: 10px;
}

.jumbotron > h2 {
	color: #EEEEEE;
}

.details {
	font-style: italic;
}

.details-button {
	float: right;
}

.cell-vacstatus {
	max-width: 250px;
}

.failed {
	color: red;
}

.clear {
	color: #63db3f;
}

.banned {
	text-transform: uppercase;
	color: #d61d1d;
}

.steamid-details {
	color: #5ea5ed;
}